/* base */
@import './base.scss';
/* well */
@import './bootstrap-3.2.0.well.css';
/* lead */
@import './bootstrap-3.2.0.lead.css';
/* code */
@import './bootstrap-3.2.0.code.css';
/* list */
@import './bootstrap-3.2.0.list.css';
/* blockquote */
@import './bootstrap-3.2.0.blockquote.css';
/* panel */
@import './bootstrap-3.2.0.panel.css';
.panel-body-box {
  height: calc(100vh - 160px);
  overflow-y: auto;
}

.modal-container {
  height: 500px;
  overflow: auto;
}

pre {
  background-color: #e8e8e8;
  padding: 8px;
  box-shadow: inset 1px 1px 8px #CCCCCC;
  border-radius: 4px;
}

/* 布局 */
.d-flex { display: flex; }

.flex-group-0 { flex-grow: 0; }
.flex-1 { flex: 1; }

/*  */
.box {
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px dashed #e8e8e8;
}











































































